<div class="container">
  <div class="row" style="margin-top: 3%">
    <div class="col-md-3">
      <div class="square" id="logo">
        <span><h5>LOGO</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="wizyt">
        <span><h5>WIZYTÓWKI</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="plak">
        <span><h5>PLAKATY</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="other">
        <span><h5>INNE</h5></span>
      </div>
    </div>
  </div>
</div>
