<div class="container">
  <div class="row" style="margin-top: 3%">
    <div class="col-md-3">
      <div class="square" id="logo" [routerLink] = "['/grafika/firma/logo']">
        <span><h5>LOGO</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="wizyt" [routerLink] = "['/grafika/firma/wizytowki']">
        <span><h5>WIZYTÓWKI</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="plak" [routerLink] = "['/grafika/firma/plakaty']">
        <span><h5>PLAKATY</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="other" [routerLink] = "['/grafika/firma/inne']">
        <span><h5>INNE</h5></span>
      </div>
    </div>
  </div>
</div>
