<div class="container">
  <div class="row" style="margin-top: 3%">
    <div class="col-md-3">
      <div class="square" [routerLink] = "['']">
        <span>MYSŁOWICE MIESZKANIE 60m2</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" [routerLink] = "['']">
        <span>TYCHY</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="glb" [routerLink] = "['/architektura/wnetrza/glubczyce']">
        <span>GŁUBCZYCE - ŁAZIENKA, KUCHNIA</span>
      </div>
    </div>
  </div>
</div>
