.square {
  background-color: rgba(0, 0, 0, 0.4);
  text-align:center;
  border: solid white;
  color: white;
  font-size: 30px;
  height:250px;
  margin-top: 80%;
  cursor: pointer;
}

span {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  .square {
    margin-top: 5%;
    margin-bottom: 3%;
  }
}
