.rspn {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .rspn {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

#logo-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.formFieldWidth480 .mat-form-field-infix {
  width: 480px;
}


