<!--The content below is only a placeholder and can be replaced.-->
<div class="bar">
  <div style="display:inline;float:left" class="logo">
    <i><a href="/video"><img id="v" src="/../assets/img/v.png" width="55" alt="v"></a></i>
    <i><a href="/architektura" style="margin-left: -10px;"><img id="a" src="/../assets/img/a.png" width="55" alt="a"></a></i>
    <i><a href="/grafika"><img id="g" src="/../assets/img/g.png" width="55" alt="g"></a></i>
    <i><a href=""><img id="art" src="/../assets/img/ART.png" width="50" alt="art"></a></i>
    <span class="icon-open" id="icon-open" onclick="openNav()"><i class="fa fa-bars"></i></span>
  </div>
  <div id="mySidenav" class="sidenav" style="display:inline;float:right;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-close"></i></a>
    <a href="https://www.facebook.com/VAGart-2162824043741220/" alt="facebook fanpage" id="fb-rspn"></a>
    <a href="" id="yt-rspn"></a>
    <a href="" id="in-rspn"></a>
    <a href="" id="hm" style="margin-left: 15px;margin-top: 40px;">STRONA GŁÓWNA</a>
    <a href="/oferta" id="of" style="margin-left: 30px;margin-top: 40px;">OFERTA</a>
    <a href="/video" id="vd" style="margin-left: 30px;margin-top: 40px;">VIDEO</a>
    <a href="/architektura" id="at" style="margin-left: 30px;margin-top: 40px;">ARCHITEKTURA</a>
    <a href="/grafika" id="gf" style="margin-left: 30px;margin-top: 40px;">GRAFIKA</a>
    <a href="/kontakt" id="cn" style="margin-left: 30px;margin-top: 40px;">KONTAKT</a>
    <a id="kr" href="" style="margin-left: 25px;margin-top: 36px"><img src="/../assets/img/KRESKA.png" width="1" alt="|"
                                                                       height="18"></a>
    <a id="fb" alt="facebook fanpage" href="https://www.facebook.com/VAGart-2162824043741220/" style="margin-left: 25px;margin-top: 52px;"></a>
    <a id="in" alt="instagram account" href="https://www.instagram.com/vagart.pl/" style="margin-left: 10px; margin-right: 20px; margin-top: 52px;"></a>
  </div>
</div>
<router-outlet></router-outlet>
