<div class="container">
  <div class="row">
    <div id="main">
      <span style="font-size:1.5em; color:white"><b><h5>CZYM SIĘ ZAJMUJEMY?</h5></b></span>
      <hr width="50%">
      <span style="color:white;">Jesteśmy pracownią projektową świadczącą usługi szeroko pojętej grafiki.
        Projektujemy wizualizacje wnętrz, zaproszenia, winietki, loga oraz wiele innych graficznych dzieł.<br><br></span>
    </div>
  </div>
  <div class="row" style="margin-top: 3%">
    <div class="col-md-6">
      <div id="architecture">
        <span style="font-size:1.5em; color:white;margin-top:4%;margin-left:4%"><b><h5>ARCHITEKTURA</h5></b></span>
        <hr width="50%">
        <span style="color:white;margin-left:10px; margin-right:10px; margin-bottom:10px;">Zajmujemy się projektowaniem i aranżacją wnętrz. Usługi dedykowane są dla osób prywatnych jak i również dla klientów biznesowych.<br><br>
        <b><h5>PROJEKTY WNĘTRZ:</h5></b><br>
        - domów<br>
        - mieszkań<br>
        - apartamentów<br>
        - wnętrz komercyjnych (biura, restauracje, inne)<br><br>
          <b><h5>WIZUALIZACJE 3D:</h5></b><br>
        - wnętrz mieszkań<br>
        - domów<br>
        - lokali użytkowych<br>
        - mebli<br>
        - innych - wybranych przez Państwa elementów architektury<br><br>
          <b><h5>INNE PROJEKTY:</h5></b><br>
        - działek<br>
        - ogrodów<br>
        - elewacje budynków<br>
        - makiety architektoniczne<br><br>
          </span>
      </div>
    </div>
    <div class="col-md-6">
      <div id="graphics">
        <span style="font-size:1.5em; color:white;margin-left:4%"><b><h5>GRAFIKA</h5></b></span>
        <hr width="50%">
        <span style="color:white;padding-top:4%;margin:10px 10px 10px 10px">Projektujemy również materiały firmowe niezbędne w nowoczesnej firmie oraz wyjątkową
        papeterię na wesele, urodziny i jubileusze.<br><br>
          <b><h5>IDENTYFIKACJA WIZUALNA FIRMY:</h5></b><br>
        - logo<br>
        - wizytówki<br>
        - plakaty<br>
        - inne materiały firmowe<br><br>
          <b><h5>PAPETERIA OKOLICZNOŚCIOWA:</h5></b><br>
        - zaproszenia<br>
        - winietki<br>
        - plany usadzenia gości<br>
        - menu<br>
        - numeracja stolików<br>
        - tablice rejestracyjne<br>
        - toppery<br>
        - inne dekoracje<br><br>
          <b><h5>MALARSTWO:</h5></b><br>
        - obrazy akrylowe<br><br></span>
      </div>
    </div>
  </div>
</div>
