<div class="container">
  <div class="row" style="margin-top: 3%">
    <div class="col-md-3">
      <div class="square" id="ban" [routerLink] = "['/grafika/papeteria/banery']">
        <span><h5>BANERY</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="bil" [routerLink] = "['/grafika/papeteria/bileciki_na_kolacz']">
        <span><h5>BILECIKI NA KOŁACZ</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="dek" [routerLink] = "['/grafika/papeteria/dekoracje']">
        <span><h5>DEKORACJE</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="ksi" [routerLink] = "['/grafika/papeteria/ksiega_gosci']">
        <span><h5>KSIĘGA GOŚCI</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="kosz" [routerLink] = "['/grafika/papeteria/koszyczek_ratunkowy']">
        <span><h5>KOSZYCZEK RATUNKOWY</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="menu" [routerLink] = "['/grafika/papeteria/menu']">
        <span><h5>MENU</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="num_sto" [routerLink] = "['/grafika/papeteria/numeracja_stolikow']">
        <span><h5>NUMERACJA STOLIKÓW</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="pla" [routerLink] = "['/grafika/papeteria/plakaty']">
        <span><h5>PLAKATY</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="plan" [routerLink] = "['/grafika/papeteria/plan_usadzenia_gosci']">
        <span><h5>PLAN USADZENIA GOŚCI</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="tab" [routerLink] = "['/grafika/papeteria/tablice_rejestracyjne']">
        <span><h5>TABLICE REJESTRACYJNE</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="top" [routerLink] = "['/grafika/papeteria/toppery']">
        <span><h5>TOPPERY</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="win" [routerLink] = "['/grafika/papeteria/winietki']">
        <span><h5>WINIETKI</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="square" id="zapr" [routerLink] = "['/grafika/papeteria/zaproszenia']">
        <span><h5>ZAPROSZENIA</h5></span>
      </div>
    </div>
    <div class="col-md-3">
      <div id="zaw" class="square" [routerLink] = "['/grafika/papeteria/zawieszki']">
        <span><h5>ZAWIESZKI</h5></span>
      </div>
    </div>
  </div>
</div>
